<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<!-- <title>{{ Deep Bionics }}</title>  --> 
			<!-- link to main stylesheet -->
			
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- <img src="images/logo.png" alt="hi" class="inline"/>-->
		</head>
		<body>
			
			    <div id="header-container">
				<div id="header">
				    <div id="logo">
				    <a href="#"><img src="images/Logo.png" /></a>
				    </div>
				    <div id="nav">
				    <ul>
					<li><a href="#"><img src="Nav menu Comic.jpeg" alt="home" /></a></li>
					<li><a href="#"><img src="Nav menu mashups" alt="about" /></a></li>
					<li><a href="#"><img src="Nav menu store" alt="services" /></a></li>
					<li><a href="#"><img src="images/products.png" alt="products" /></a></li>
					<li><a href="#"><img src="images/contact.png" alt="contact" /></a></li>
				    </ul>
				    </div>
				</div>
			    </div>
			
			
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:myEmail@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Mthrun">github.com/Mthrun</a></li>
				</ul>
			</footer>
		</body>
	</html>
