<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<!-- <title>{{ Deep Bionics }}</title>  --> 
			<!-- link to main stylesheet -->
			
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- <img src="images/logo.png" alt="hi" class="inline"/>-->
		</head>
		<body>
						
			<div>
				
				<img src="images/logo.png" alt="hi" style="width:50px;height:50px;" class="inline"/>
				
				<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/lectures">Lectures</a></li>
					<li><a href="/rpackages">R Packages</a></li>
					<li><a href="/publications">Publications</a></li>
					<li><a href="/contactme">Contact me</a></li>
				</ul>
				</nav>
			
			</div>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:myEmail@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Mthrun">github.com/Mthrun</a></li>
	        		<li><a href="https://github.com/Mthrun">MoreLinks</a></li>
			</ul>
			</footer>
		</body>
	</html>
